.header-top {
    background-color: $clr_def;
    font-size: 12px;
    color: $clr_link-light;
    line-height: 50px;
}

.sign-up {
    text-transform: uppercase;
    color: #eee;
}

.close-icon {
    @include bg(0, -25px);
    width: 7px;
    height: 7px;
    margin-top: 21px;
    float: right;
    cursor: pointer;

}
.additional-block-item {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.additional-text {
    text-align: right;
}

.divider {
    padding-left: 20px;
}

.sign-up {
    padding-left: 20px;
}

.header-bottom {
    background-color: #111;
}

.setting-block {
    margin-top: 6px;
    float: left;
}

.search-block {
    box-sizing: border-box;
    float: left;
    width: 120px;
}

.search-ico {
    float: left;
    @include bg(0, -10px);
    width: 12px;
    height: 11px;
    margin-top: 4px;
    margin-right: 10px;
}

.search-field {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $clr_link-light;
    font-size: 12px;
    padding: 0 5px;
    color: #fff;
    background-color: #111;
    width: 100%;
}

.choose-language {
    float: left;
    margin-right: 28px;
    margin-top: 2px;
}

.sub-navigation-block {
    float: right;
}

.sub-nav-link {
    font-size: 1.2em;
    text-decoration: none;
    float: left;
    margin-left: 15px;
    line-height: 30px;

    .basket-ico {
        @include bg(0, -36px);
        width: 10px;
        height: 11px;
        display: block;
        margin-top: 8px;
    }
}

.header {
    background-color: #fff;
}

.logo {
    width: 158px;
    height: 25px;
    float: left;
    margin-top: 20px;

    img {
        width: 100%;
        height: 100%;
    }
}

.navigation {
    float: right;
}

.nav-link {
    font-size: 15px;
    color: $clr_def;
    text-decoration: none;
    float: left;
    margin-left: 45px;
    line-height: 65px;

    &:hover {
        text-decoration: underline;
    }
}

.central-part {
    background: url("../images/top-part-bg.png") top center;
    height: 615px;
    //max-width: 1200px;
    //height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
}

.central-part-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.collection-name {
    font-size: 40px;
    margin-bottom: 20px;
}

.button-group {
    .btn {
        margin: 0 5px;
    }
}

.arrow-block {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -31px;
    @include bg(-14px, 0);
    width: 63px;
    height: 20px;
    cursor: pointer;

}

.row-item-wrapper {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;

}

.row-item {
}

.row-item-block {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.row-item-img {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;


    &.horizontal {
        width: 450px;
        height: 300px;
        margin-top: 50px;
    }

    &.vertical {
        width: 350px;
        height: 350px;

    }
    &.item1 {
        background-image: url(../images/temp/img1.jpg);
    }
    &.item2 {
        background-image: url(../images/temp/img2.jpg);
         }
    &.item4 {
        background-image: url(../images/temp/img4.jpg);
          }
    &.item10 {
        background-image: url(../images/temp/img10.jpg);
    }
    &.item7 {
        background-image: url(../images/temp/img7.jpg);
    }
    &.item8 {
        background-image: url(../images/temp/img8.jpg);
    }
}

.row-item-title {
    font-size: 17px;
    margin: 10px 0;
    color:$clr_def;
}

.row-item-subtitle {
    font-size: 15px;
    margin: 10px 0;
    color:$clr_def;
}

.row-item-wrapper_slider {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.row-item_slider {
    text-align: center;

    &._right {
        order: 3;
    }

    &._left {
        order: 1;
    }

    &._center {
        order: 2;
    }
}

.subslider {
    width: 225px;
    margin-top: 25px;

    .slick-prev, .slick-next {
        width: 14px;
        height: 43px;
        margin-top: -22px;
    }
    .slick-prev {
        @include bg(-14px, -25px);
        left: 10px;
    }
    .slick-next {
        @include bg(-32px, -25px);
        right: 10px;
    }
}

.main-slider-content {
    margin-bottom: 100px;

.main-slider-content-item {
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;
}
    .slick-prev, .slick-next {
        width: 20px;
        height: 63px;
        margin-top: -32px;
    }
    .slick-prev {
        @include bg(-50px, -25px);
        left: 10px;
    }
    .slick-next {
        @include bg(-80px, -25px);
        right: 10px;
    }
    .slider-description {
        position:absolute;
        z-index: 1;
        color:$clr_def;
        background-color: #fff;
        top:0;
        bottom: 0;
        right: 0;
        padding: 0 40px;
        text-align: right;
        width: 30%;

        .slider-description-content {
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 70px;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 30px;

        li {
            margin: 0 5px;

            button {
                width: 15px;
                height: 15px;
                border-width: 1px;
            }
        }
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}

.points-view {
    background-color: #f6f6f6;
    padding: 45px 0;
    margin-bottom: 40px;
}
.points-view-content {
    display: flex;
    justify-content: space-between;
}
.points-view-item {
    max-width: 300px;

    .points-view-item_img {
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-background-size: cover;
        background-size: cover;
        height: 400px;
        width: 300px;

    }
}
.page-content-title {
    font-size: 30px;
    color:$clr_title;
    text-align: center;
    margin-bottom: 50px;
}
.page-content-subtitle {
    font-size: 15px;
    color:$clr_title;
    margin: 15px 0;
    text-transform: uppercase;

}
.featured-style-content_left {
    float: left;
    position: relative;

    >div {
        float: left;
        margin-right: 25px;
    }
}
.featured-style-content_right {
    float: right;
    position: relative;

    >div {
        float: left;
        margin-right: 25px;
    }
}

.featured-style {
    margin-bottom: 50px;
    .slick-dots {

        li {
            margin: 0 3px;

            button {
                border-width: 1px;
                border-color:#323232;
            }
        }
        .slick-active button {
            background-color: #323232;

        }
    }
}
.featured-style-item {
    width: 210px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
}








.logo-footer {
    width: 124px;
    height: 20px;
    margin-bottom: 30px;
    display: block;
}

.footer {
    color: $clr_link;
    background-color: #111;
    padding: 50px 0;
    box-sizing: border-box;

    .title {
        color: #fff;
        text-transform: uppercase;

        &._space {
            margin: 20px 0;
        }
    }
    p {
        margin-bottom: 20px;
    }
    .right-part {
        padding-left: 50px;
        border-left: 1px solid #919191;
        width: 30%;
        float: right;
    }
    .left-part {

        overflow: hidden;
    }
}

.footer-search-block {

    .footer-search-field {
        width: 100%;
        border: none;
        color: #666;
        padding: 0 10px;
        height: 25px;
        background-color: #222222;
    }

    .footer-search-button {
        float: right;
        @include bg(-15px, -72px);
        width: 25px;
        height: 25px;
    }
}

.footer-items-block {
}

.footer-item-wrap {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.footer-item-title {
    margin-bottom: 20px;
}

.footer-item-link {
    margin-bottom: 8px;
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    .ico {
        float: left;
        width: 12px;
        height: 12px;
        margin-right: 7px;

        &.facebook {
            @include bg(0, -51px);
        }
        &.instagram {
            @include bg(0, -73px);
        }
        &.youtube {
            @include bg(0, -94px);
        }
    }
}

.privacy-block {
    position: absolute;
    bottom: 0;
    left: 0;
}