html {
    overflow-y: scroll;
}

html,
body,
.page {
    height: 100%;
}

body {
    background-color:#fff;
    font: 300 62.5%/1.19  Arial, Helvetica, sans-serif;
    color: $clr_def;
    min-width: $page_min;

    > .page {
        height: auto;
        min-height: 100%;
    }
}

.page_i {
    padding-bottom: $height_footer;
}

.footer {
    height: $height_footer;
    margin-top: -$height_footer;
}


.user-content {
    @include f;

    > *:first-child {
        margin-top: 0;
    }
    p {
        margin: 1em 0;
    }
}

.component-select {
    background-color: #111;
    border: none;
    padding: 0;
    width: 100%;
    @include box-sizing();
    color:#eee;
    font-size: 12px;

    .chosen-single {
        height: 15px;
        line-height: 15px;
        //width: 227px;
        color: #eee;

        span {
            margin-right:0;
            padding: 0 2px;

        }
        div {
            width: 29px;
            height: 100%;

            b {
                @include bg(0, 0);
                width: 10px;
                height: 6px;
                position: absolute;
                top: 50%;
                right: 0;
                margin: -2px 0 0 0;
            }
        }
        &:hover {

        }
    }
    .chosen-drop {
        background-color: #111;
        color:#eee;
    }
    .chosen-results {
        li {
            padding: 2px;
        }
    }
}

/*BUTTONS*/
.btn {
    text-transform: uppercase;
    @include inblock;
}

.btn-main {
    padding: 0 30px;
    font-size: 17px;
    line-height: 40px;
    color:#fff;
    border:1px solid #fff;
    background-color: transparent;

    &:hover {
            background: rgba(255,255,255,.1);
    }
}
.btn-primary {
    padding: 0 30px;
    font-size: 17px;
    line-height: 40px;
    color:$clr_def;
    border:1px solid $clr_def;
    background-color: transparent;

    &:hover {
        background: rgba(0,0,0,.1);
    }
}




