.desktop-block {

}
.mobile-block {
display: none;
}
@media screen and (max-width: 1024px) {
    .centralize {
        box-sizing: border-box;
        padding: 0 20px;
    }
    .desktop-block {
display: none;
    }
    .mobile-block {
        display: block;
    }


}











@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .component-select .chosen-single div b {
        background: url(../images/sprite.png) no-repeat scroll 0 0 transparent!important;
    }
}