$clr_def: #333;
$clr_title: #000;
$clr_link-light: #eee;

$clr_link_header: #fff;
$clr_green: #7da002;

//$clr_orange: #f58c42;
//$clr_info: #998548;
//$clr_grey: #a6a6a6;
//$clr-border:#c6c6c6;

$bg_green: #dce374;
//$bg_green_hover: #9eb80c;

$clr_link: #999999;

$page_min: 320px;
$page_max: 1100px;
$height_footer: 340px;

$pt: Arial, Helvetica, sans-serif;
//$ptr: Tahoma, Arial, Helvetica, sans-serif;

$grid_gutter_width: 20px;

