$clr_def: #333;
$clr_title: #000;
$clr_link-light: #eee;

$clr_link_header: #fff;
$clr_link: #999999;


$clr_green: #7da002;
$bg_green: #dce374;



$page_min: 280px;
$page_max: 1100px;
$height_footer: 340px;

$pt: Arial, Helvetica, sans-serif;



