article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

input::-ms-clear {
  display: none; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea {
  outline: 0; }

.centralize {
  margin: auto;
  max-width: 1100px;
  min-width: 280px; }

a {
  color: #999999; }
  a:hover {
    text-decoration: none; }

.link-emulation {
  color: #999999; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clickalbe {
  cursor: pointer !important; }

.relative {
  position: relative !important; }

.align-right {
  text-align: right !important; }

.align-center {
  text-align: center !important; }

.bold {
  font-weight: 700; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.invisible {
  visibility: hidden !important; }

.visible {
  visibility: visible !important; }

.ovhidden {
  overflow: hidden !important; }

.clear {
  clear: both !important; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-loading .slick-list {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    color: transparent; }

.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    margin: 0 7px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      background: transparent;
      display: block;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 0;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 100%;
      width: 10px;
      height: 10px; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none;
        background-color: #fff; }
  .slick-dots .slick-active button {
    background-color: #fff; }

.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  .chosen-container.chosen-with-drop .chosen-drop {
    left: 0; }
  .chosen-container a {
    cursor: pointer; }

/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap; }
  .chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px; }
    .chosen-container-single .chosen-single abbr:hover {
      background-position: -42px -10px; }
  .chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%; }
    .chosen-container-single .chosen-single div b {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/chosen-sprite.png") no-repeat 0px 2px; }
.chosen-container-single .chosen-default {
  color: #999; }
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }
  .chosen-container-single .chosen-search input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: white url("../images/chosen-sprite.png") no-repeat 100% -20px;
    background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0; }
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px; }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch; }
  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    -webkit-touch-callout: none; }
    .chosen-container .chosen-results li em {
      font-style: normal;
      text-decoration: underline; }
  .chosen-container .chosen-results .active-result {
    display: list-item;
    cursor: pointer; }
  .chosen-container .chosen-results .disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default; }
  .chosen-container .chosen-results .highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff; }
  .chosen-container .chosen-results .no-results {
    display: list-item;
    background: #f4f4f4; }
  .chosen-container .chosen-results .group-result {
    display: list-item;
    font-weight: bold;
    cursor: default; }
  .chosen-container .chosen-results .group-option {
    padding-left: 15px; }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text; }

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0; }

.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999; }

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666; }

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4; }

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #111 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default; }
  .chosen-disabled .chosen-single {
    cursor: default; }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0; }

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl; }

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px; }

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px; }

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px; }

.chosen-rtl .chosen-choices li {
  float: right; }

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl; }

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px; }

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px; }

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px; }

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0; }

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0; }

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none; }

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl; }

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px; }

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../images/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important; } }
/* @end */
/*! jQuery UI - v1.11.4 - 2015-07-01
* http://jqueryui.com
* Includes: core.css, datepicker.css, theme.css

* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  min-height: 0; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-front {
  z-index: 100; }

.ui-state-disabled {
  cursor: default !important; }

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-datepicker {
  width: 420px;
  padding: 0;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  width: 60px;
  height: 39px;
  cursor: pointer; }
  .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
    background-color: #aec607; }

.ui-datepicker .ui-datepicker-prev {
  border-right: 1px solid #a6b226;
  width: 59px; }

.ui-datepicker .ui-datepicker-next {
  right: 0;
  border-left: 1px solid #a6b226; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 50%;
  margin-top: -9px; }

.ui-datepicker .ui-datepicker-title {
  line-height: 38px;
  font-size: 19px;
  border-bottom: 1px solid #a6b226;
  height: 38px;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 19px;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 45%; }

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse; }

.ui-datepicker th {
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8; }
  .ui-datepicker th:first-child {
    border-left: 0; }
  .ui-datepicker th:last-child {
    border-right: 0; }

.ui-datepicker td {
  border: 0;
  padding: 0;
  background: #f1f2f3;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }
  .ui-datepicker td:last-child {
    border-right: none; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  width: 59px;
  line-height: 45px;
  text-align: center;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-widget {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 13px; }

.ui-widget .ui-widget {
  font-size: 13px; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 13px; }

.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
  color: #222; }

.ui-widget-content a {
  color: #222; }

.ui-widget-header {
  background: #dce374;
  font-weight: bold; }

.ui-widget-header a {
  color: #222; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #f1f2f3;
  font-weight: normal; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555;
  text-decoration: none; }

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
  color: #212121;
  text-decoration: none; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: #9eb80c;
  color: #fff; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #cd0a0a; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35); }

.ui-icon {
  width: 16px;
  height: 16px; }

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-widget-header .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-default .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-active .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-highlight .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-icon-blank {
  background-position: 16px 16px; }

.ui-icon-carat-1-n {
  background-position: 0 0; }

.ui-icon-carat-1-ne {
  background-position: -16px 0; }

.ui-icon-carat-1-e {
  background-position: -32px 0; }

.ui-icon-carat-1-se {
  background-position: -48px 0; }

.ui-icon-carat-1-s {
  background-position: -64px 0; }

.ui-icon-carat-1-sw {
  background-position: -80px 0; }

.ui-icon-carat-1-w {
  background-position: -96px 0; }

.ui-icon-carat-1-nw {
  background-position: -112px 0; }

.ui-icon-carat-2-n-s {
  background-position: -128px 0; }

.ui-icon-carat-2-e-w {
  background-position: -144px 0; }

.ui-icon-triangle-1-n {
  background-position: 0 -16px; }

.ui-icon-triangle-1-ne {
  background-position: -16px -16px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-se {
  background-position: -48px -16px; }

.ui-icon-triangle-1-s {
  background-position: -64px -16px; }

.ui-icon-triangle-1-sw {
  background-position: -80px -16px; }

.ui-icon-triangle-1-w {
  background-position: -96px -16px; }

.ui-icon-triangle-1-nw {
  background-position: -112px -16px; }

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px; }

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px; }

.ui-icon-arrow-1-n {
  background-position: 0 -32px; }

.ui-icon-arrow-1-ne {
  background-position: -16px -32px; }

.ui-icon-arrow-1-e {
  background-position: -32px -32px; }

.ui-icon-arrow-1-se {
  background-position: -48px -32px; }

.ui-icon-arrow-1-s {
  background-position: -64px -32px; }

.ui-icon-arrow-1-sw {
  background-position: -80px -32px; }

.ui-icon-arrow-1-w {
  background-position: -96px -32px; }

.ui-icon-arrow-1-nw {
  background-position: -112px -32px; }

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px; }

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px; }

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px; }

.ui-icon-arrow-4 {
  background-position: 0 -80px; }

.ui-icon-arrow-4-diag {
  background-position: -16px -80px; }

.ui-icon-extlink {
  background-position: -32px -80px; }

.ui-icon-newwin {
  background-position: -48px -80px; }

.ui-icon-refresh {
  background-position: -64px -80px; }

.ui-icon-shuffle {
  background-position: -80px -80px; }

.ui-icon-transfer-e-w {
  background-position: -96px -80px; }

.ui-icon-transferthick-e-w {
  background-position: -112px -80px; }

.ui-icon-folder-collapsed {
  background-position: 0 -96px; }

.ui-icon-folder-open {
  background-position: -16px -96px; }

.ui-icon-document {
  background-position: -32px -96px; }

.ui-icon-document-b {
  background-position: -48px -96px; }

.ui-icon-note {
  background-position: -64px -96px; }

.ui-icon-mail-closed {
  background-position: -80px -96px; }

.ui-icon-mail-open {
  background-position: -96px -96px; }

.ui-icon-suitcase {
  background-position: -112px -96px; }

.ui-icon-comment {
  background-position: -128px -96px; }

.ui-icon-person {
  background-position: -144px -96px; }

.ui-icon-print {
  background-position: -160px -96px; }

.ui-icon-trash {
  background-position: -176px -96px; }

.ui-icon-locked {
  background-position: -192px -96px; }

.ui-icon-unlocked {
  background-position: -208px -96px; }

.ui-icon-bookmark {
  background-position: -224px -96px; }

.ui-icon-tag {
  background-position: -240px -96px; }

.ui-icon-home {
  background-position: 0 -112px; }

.ui-icon-flag {
  background-position: -16px -112px; }

.ui-icon-calendar {
  background-position: -32px -112px; }

.ui-icon-cart {
  background-position: -48px -112px; }

.ui-icon-pencil {
  background-position: -64px -112px; }

.ui-icon-clock {
  background-position: -80px -112px; }

.ui-icon-disk {
  background-position: -96px -112px; }

.ui-icon-calculator {
  background-position: -112px -112px; }

.ui-icon-zoomin {
  background-position: -128px -112px; }

.ui-icon-zoomout {
  background-position: -144px -112px; }

.ui-icon-search {
  background-position: -160px -112px; }

.ui-icon-wrench {
  background-position: -176px -112px; }

.ui-icon-gear {
  background-position: -192px -112px; }

.ui-icon-heart {
  background-position: -208px -112px; }

.ui-icon-star {
  background-position: -224px -112px; }

.ui-icon-link {
  background-position: -240px -112px; }

.ui-icon-cancel {
  background-position: 0 -128px; }

.ui-icon-plus {
  background-position: -16px -128px; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minus {
  background-position: -48px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.ui-icon-close {
  background-position: -80px -128px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

.ui-icon-key {
  background-position: -112px -128px; }

.ui-icon-lightbulb {
  background-position: -128px -128px; }

.ui-icon-scissors {
  background-position: -144px -128px; }

.ui-icon-clipboard {
  background-position: -160px -128px; }

.ui-icon-copy {
  background-position: -176px -128px; }

.ui-icon-contact {
  background-position: -192px -128px; }

.ui-icon-image {
  background-position: -208px -128px; }

.ui-icon-video {
  background-position: -224px -128px; }

.ui-icon-script {
  background-position: -240px -128px; }

.ui-icon-alert {
  background-position: 0 -144px; }

.ui-icon-info {
  background-position: -16px -144px; }

.ui-icon-notice {
  background-position: -32px -144px; }

.ui-icon-help {
  background-position: -48px -144px; }

.ui-icon-check {
  background-position: -64px -144px; }

.ui-icon-bullet {
  background-position: -80px -144px; }

.ui-icon-radio-on {
  background-position: -96px -144px; }

.ui-icon-radio-off {
  background-position: -112px -144px; }

.ui-icon-pin-w {
  background-position: -128px -144px; }

.ui-icon-pin-s {
  background-position: -144px -144px; }

.ui-icon-play {
  background-position: 0 -160px; }

.ui-icon-pause {
  background-position: -16px -160px; }

.ui-icon-seek-next {
  background-position: -32px -160px; }

.ui-icon-seek-prev {
  background-position: -48px -160px; }

.ui-icon-seek-end {
  background-position: -64px -160px; }

.ui-icon-seek-start {
  background-position: -80px -160px; }

.ui-icon-seek-first {
  background-position: -80px -160px; }

.ui-icon-stop {
  background-position: -96px -160px; }

.ui-icon-eject {
  background-position: -112px -160px; }

.ui-icon-volume-off {
  background-position: -128px -160px; }

.ui-icon-volume-on {
  background-position: -144px -160px; }

.ui-icon-power {
  background-position: 0 -176px; }

.ui-icon-signal-diag {
  background-position: -16px -176px; }

.ui-icon-signal {
  background-position: -32px -176px; }

.ui-icon-battery-0 {
  background-position: -48px -176px; }

.ui-icon-battery-1 {
  background-position: -64px -176px; }

.ui-icon-battery-2 {
  background-position: -80px -176px; }

.ui-icon-battery-3 {
  background-position: -96px -176px; }

.ui-icon-circle-plus {
  background-position: 0 -192px; }

.ui-icon-circle-minus {
  background-position: -16px -192px; }

.ui-icon-circle-close {
  background-position: -32px -192px; }

.ui-icon-circle-triangle-e {
  background-position: -30px 0px; }

.ui-icon-circle-triangle-s {
  background-position: -64px -192px; }

.ui-icon-circle-triangle-w {
  background-position: -30px -20px; }

.ui-icon-circle-triangle-n {
  background-position: -96px -192px; }

.ui-icon-circle-arrow-e {
  background-position: -112px -192px; }

.ui-icon-circle-arrow-s {
  background-position: -128px -192px; }

.ui-icon-circle-arrow-w {
  background-position: -144px -192px; }

.ui-icon-circle-arrow-n {
  background-position: -160px -192px; }

.ui-icon-circle-zoomin {
  background-position: -176px -192px; }

.ui-icon-circle-zoomout {
  background-position: -192px -192px; }

.ui-icon-circle-check {
  background-position: -208px -192px; }

.ui-icon-circlesmall-plus {
  background-position: 0 -208px; }

.ui-icon-circlesmall-minus {
  background-position: -16px -208px; }

.ui-icon-circlesmall-close {
  background-position: -32px -208px; }

.ui-icon-squaresmall-plus {
  background-position: -48px -208px; }

.ui-icon-squaresmall-minus {
  background-position: -64px -208px; }

.ui-icon-squaresmall-close {
  background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px; }

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }

.ui-widget-overlay {
  background: #aaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30); }

.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
  border-radius: 8px; }

html {
  overflow-y: scroll; }

html,
body,
.page {
  height: 100%; }

body {
  background-color: #fff;
  font: 300 62.5%/1.19  Arial, Helvetica, sans-serif;
  color: #333;
  min-width: 280px; }
  body > .page {
    height: auto;
    min-height: 100%; }

.page_i {
  padding-bottom: 340px; }

.footer {
  height: 340px;
  margin-top: -340px; }

.user-content {
  font-size: 1.8em;
  line-height: 1.11111em; }
  .user-content > *:first-child {
    margin-top: 0; }
  .user-content p {
    margin: 1em 0; }

.component-select {
  background-color: #111;
  border: none;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #eee;
  font-size: 12px; }
  .component-select .chosen-single {
    height: 15px;
    line-height: 15px;
    color: #eee; }
    .component-select .chosen-single span {
      margin-right: 0;
      padding: 0 2px; }
    .component-select .chosen-single div {
      width: 29px;
      height: 100%; }
      .component-select .chosen-single div b {
        background: url("../images/sprite.png") no-repeat scroll 0 0 transparent;
        width: 10px;
        height: 6px;
        position: absolute;
        top: 50%;
        right: 0;
        margin: -2px 0 0 0; }
  .component-select .chosen-drop {
    background-color: #111;
    color: #eee; }
  .component-select .chosen-results li {
    padding: 2px; }

/*BUTTONS*/
.btn {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1; }

.btn-main {
  padding: 0 30px;
  font-size: 17px;
  line-height: 40px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent; }
  .btn-main:hover {
    background: rgba(255, 255, 255, 0.1); }

.btn-primary {
  padding: 0 30px;
  font-size: 17px;
  line-height: 40px;
  color: #333;
  border: 1px solid #333;
  background-color: transparent; }
  .btn-primary:hover {
    background: rgba(0, 0, 0, 0.1); }

.header-top {
  background-color: #333;
  font-size: 12px;
  color: #eee;
  line-height: 50px; }

.sign-up {
  text-transform: uppercase;
  color: #eee; }

.close-icon {
  background: url("../images/sprite.png") no-repeat scroll 0 -25px transparent;
  width: 7px;
  height: 7px;
  margin-top: 21px;
  float: right;
  cursor: pointer; }

.additional-block-item {
  float: left;
  width: 50%;
  box-sizing: border-box; }

.additional-text {
  text-align: right; }

.divider {
  padding-left: 20px; }

.sign-up {
  padding-left: 20px; }

.header-bottom {
  background-color: #111; }

.setting-block {
  margin-top: 6px;
  float: left; }

.search-block {
  box-sizing: border-box;
  float: left;
  width: 120px; }

.search-ico {
  float: left;
  background: url("../images/sprite.png") no-repeat scroll 0 -10px transparent;
  width: 12px;
  height: 11px;
  margin-top: 4px;
  margin-right: 10px; }

.search-field {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  padding: 0 5px;
  color: #fff;
  background-color: #111;
  width: 100%; }

.choose-language {
  float: left;
  margin-right: 28px;
  margin-top: 2px; }

.sub-navigation-block {
  float: right; }

.sub-nav-link {
  font-size: 1.2em;
  text-decoration: none;
  float: left;
  margin-left: 15px;
  line-height: 30px; }
  .sub-nav-link .basket-ico {
    background: url("../images/sprite.png") no-repeat scroll 0 -36px transparent;
    width: 10px;
    height: 11px;
    display: block;
    margin-top: 8px; }

.header {
  background-color: #fff; }

.logo {
  width: 158px;
  height: 25px;
  float: left;
  margin-top: 20px; }
  .logo img {
    width: 100%;
    height: 100%; }

.navigation {
  float: right; }

.nav-link {
  font-size: 15px;
  color: #333;
  text-decoration: none;
  float: left;
  margin-left: 45px;
  line-height: 65px; }
  .nav-link:hover {
    text-decoration: underline; }

.central-part {
  background: url("../images/top-part-bg.png") top center;
  height: 615px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 100px; }

.central-part-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0; }

.collection-name {
  font-size: 40px;
  margin-bottom: 20px; }

.button-group .btn {
  margin: 0 5px; }

.arrow-block {
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -31px;
  background: url("../images/sprite.png") no-repeat scroll -14px 0 transparent;
  width: 63px;
  height: 20px;
  cursor: pointer; }

.row-item-wrapper {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around; }

.row-item-block {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none; }

.row-item-img {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0; }
  .row-item-img.horizontal {
    width: 450px;
    height: 300px;
    margin-top: 50px; }
  .row-item-img.vertical {
    width: 350px;
    height: 350px; }
  .row-item-img.item1 {
    background-image: url(../images/temp/img1.jpg); }
  .row-item-img.item2 {
    background-image: url(../images/temp/img2.jpg); }
  .row-item-img.item4 {
    background-image: url(../images/temp/img4.jpg); }
  .row-item-img.item10 {
    background-image: url(../images/temp/img10.jpg); }
  .row-item-img.item7 {
    background-image: url(../images/temp/img7.jpg); }
  .row-item-img.item8 {
    background-image: url(../images/temp/img8.jpg); }

.row-item-title {
  font-size: 17px;
  margin: 10px 0;
  color: #333; }

.row-item-subtitle {
  font-size: 15px;
  margin: 10px 0;
  color: #333; }

.row-item-wrapper_slider {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px; }

.row-item_slider {
  text-align: center; }
  .row-item_slider._right {
    order: 3; }
  .row-item_slider._left {
    order: 1; }
  .row-item_slider._center {
    order: 2; }

.subslider {
  width: 225px;
  margin-top: 25px; }
  .subslider .slick-prev, .subslider .slick-next {
    width: 14px;
    height: 43px;
    margin-top: -22px; }
  .subslider .slick-prev {
    background: url("../images/sprite.png") no-repeat scroll -14px -25px transparent;
    left: 10px; }
  .subslider .slick-next {
    background: url("../images/sprite.png") no-repeat scroll -32px -25px transparent;
    right: 10px; }

.main-slider-content {
  margin-bottom: 100px; }
  .main-slider-content .main-slider-content-item {
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    height: 500px;
    background-repeat: no-repeat;
    width: 100%; }
  .main-slider-content .slick-prev, .main-slider-content .slick-next {
    width: 20px;
    height: 63px;
    margin-top: -32px; }
  .main-slider-content .slick-prev {
    background: url("../images/sprite.png") no-repeat scroll -50px -25px transparent;
    left: 10px; }
  .main-slider-content .slick-next {
    background: url("../images/sprite.png") no-repeat scroll -80px -25px transparent;
    right: 10px; }
  .main-slider-content .slider-description {
    position: absolute;
    z-index: 1;
    color: #333;
    background-color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 40px;
    text-align: right;
    width: 30%; }
    .main-slider-content .slider-description .slider-description-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 70px; }
  .main-slider-content .slick-dots {
    position: absolute;
    bottom: 30px; }
    .main-slider-content .slick-dots li {
      margin: 0 5px; }
      .main-slider-content .slick-dots li button {
        width: 15px;
        height: 15px;
        border-width: 1px; }
  .main-slider-content h2 {
    font-size: 30px; }
  .main-slider-content h3 {
    font-size: 20px; }

.points-view {
  background-color: #f6f6f6;
  padding: 45px 0;
  margin-bottom: 40px; }

.points-view-content {
  display: flex;
  justify-content: space-between; }

.points-view-item {
  max-width: 300px; }
  .points-view-item .points-view-item_img {
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
    width: 300px; }

.page-content-title {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin-bottom: 50px; }

.page-content-subtitle {
  font-size: 15px;
  color: #000;
  margin: 15px 0;
  text-transform: uppercase; }

.featured-style-content_left {
  float: left;
  position: relative; }
  .featured-style-content_left > div {
    float: left;
    margin-right: 25px; }

.featured-style-content_right {
  float: right;
  position: relative; }
  .featured-style-content_right > div {
    float: left;
    margin-right: 25px; }

.featured-style {
  margin-bottom: 50px; }
  .featured-style .slick-dots li {
    margin: 0 3px; }
    .featured-style .slick-dots li button {
      border-width: 1px;
      border-color: #323232; }
  .featured-style .slick-dots .slick-active button {
    background-color: #323232; }

.featured-style-item {
  width: 210px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover; }

.logo-footer {
  width: 124px;
  height: 20px;
  margin-bottom: 30px;
  display: block; }

.footer {
  color: #999999;
  background-color: #111;
  padding: 50px 0;
  box-sizing: border-box; }
  .footer .title {
    color: #fff;
    text-transform: uppercase; }
    .footer .title._space {
      margin: 20px 0; }
  .footer p {
    margin-bottom: 20px; }
  .footer .right-part {
    padding-left: 50px;
    border-left: 1px solid #919191;
    width: 30%;
    float: right; }
  .footer .left-part {
    overflow: hidden; }

.footer-search-block .footer-search-field {
  width: 100%;
  border: none;
  color: #666;
  padding: 0 10px;
  height: 25px;
  background-color: #222222; }
.footer-search-block .footer-search-button {
  float: right;
  background: url("../images/sprite.png") no-repeat scroll -15px -72px transparent;
  width: 25px;
  height: 25px; }

.footer-item-wrap {
  float: left;
  width: 23%;
  margin-right: 2%; }

.footer-item-title {
  margin-bottom: 20px; }

.footer-item-link {
  margin-bottom: 8px;
  display: block;
  text-decoration: none; }
  .footer-item-link:hover {
    text-decoration: underline; }
  .footer-item-link .ico {
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 7px; }
    .footer-item-link .ico.facebook {
      background: url("../images/sprite.png") no-repeat scroll 0 -51px transparent; }
    .footer-item-link .ico.instagram {
      background: url("../images/sprite.png") no-repeat scroll 0 -73px transparent; }
    .footer-item-link .ico.youtube {
      background: url("../images/sprite.png") no-repeat scroll 0 -94px transparent; }

.privacy-block {
  position: absolute;
  bottom: 0;
  left: 0; }

.mobile-block, .mobile-menu, .mobile-search-field, .login-mobile, .basket-mobile {
  display: none; }

@media screen and (min-width: 1025px) {
  .footer-item-content {
    display: block; }

  .navigation {
    display: block; } }
@media screen and (max-width: 1024px) {
  .desktop-block {
    display: none; }

  .mobile-block {
    display: block; }

  .header-top {
    line-height: 25px; }

  .header-bottom {
    display: none; }

  .navigation {
    display: none; }

  .header {
    height: 40px;
    position: relative; }
    .header .logo {
      float: none;
      display: block;
      margin: 12px auto 0;
      width: 94px;
      height: auto; }
    .header .mobile-menu, .header .mobile-search-field, .header .login-mobile, .header .basket-mobile {
      display: block;
      position: absolute; }
    .header .mobile-menu {
      left: 20px;
      background: url("../images/sprite.png") no-repeat scroll -64px -105px transparent;
      width: 10px;
      height: 9px;
      top: 15px; }
    .header .mobile-search-field {
      left: 50px;
      background: url("../images/sprite.png") no-repeat scroll -88px -105px transparent;
      width: 11px;
      height: 9px;
      top: 15px; }
    .header .login-mobile {
      right: 50px;
      background: url("../images/sprite.png") no-repeat scroll -64px -119px transparent;
      width: 11px;
      height: 10px;
      top: 15px; }
    .header .basket-mobile {
      right: 20px;
      background: url("../images/sprite.png") no-repeat scroll -89px -119px transparent;
      width: 11px;
      height: 11px;
      top: 15px; }

  .central-part {
    height: 300px;
    margin-bottom: 10px; }

  .collection-name {
    font-size: 30px; }

  .row-item-wrapper_slider {
    margin-bottom: 10px; }

  .row-item-wrapper,
  .row-item-wrapper_slider {
    display: block;
    text-align: center; }

  .row-item-img,
  .subslider {
    margin: 10px auto; }
    .row-item-img.horizontal,
    .subslider.horizontal {
      max-width: 100%;
      height: 255px;
      margin-top: 0; }
    .row-item-img.vertical,
    .subslider.vertical {
      max-width: 100%;
      height: 255px;
      margin-top: 0; }

  .subslider {
    max-width: 100%;
    height: 255px;
    overflow: hidden; }
    .subslider img {
      width: 100%;
      height: 100%; }

  .main-slider-content {
    margin-bottom: 10px; }
    .main-slider-content .slick-dots {
      bottom: 15px; }
      .main-slider-content .slick-dots li {
        margin: 0 3px; }
        .main-slider-content .slick-dots li button {
          width: 10px;
          height: 10px; }
    .main-slider-content .slick-prev, .main-slider-content .slick-next {
      width: 14px;
      height: 43px;
      margin-top: -22px; }
    .main-slider-content .slick-prev {
      background-position: -14px -25px; }
    .main-slider-content .slick-next {
      background-position: -32px -25px; }

  .main-slider-content .slider-description {
    background-color: transparent;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0; }
    .main-slider-content .slider-description .slider-description-content {
      right: 0; }

  .btn-primary {
    color: #fff;
    border-color: #fff; }

  .row-item-wrapper {
    margin-bottom: 10px; }

  .main-slider-content .main-slider-content-item {
    height: 250px; }

  .page-content-title {
    font-size: 20px;
    margin-bottom: 20px; }

  .points-view {
    padding: 20px 0; }

  .points-view-content {
    display: block;
    text-align: center; }

  .points-view-item {
    margin: 0 auto 20px;
    overflow: hidden; }
    .points-view-item .points-view-item_img {
      max-width: 100%;
      height: 255px;
      width: auto;
      background-position: center center; }

  .page-content-subtitle {
    margin-top: 10px; }

  .featured-style-content_left,
  .featured-style-content_right {
    text-align: center; }
    .featured-style-content_left > div,
    .featured-style-content_right > div {
      display: inline-block;
      vertical-align: top;
      *display: inline;
      *zoom: 1;
      float: none;
      margin-right: 10px;
      min-width: 140px; }
      .featured-style-content_left > div:last-child,
      .featured-style-content_right > div:last-child {
        margin-right: 0; }

  .featured-style-item {
    width: 140px;
    height: 200px; }

  .footer {
    margin-top: 0;
    height: auto;
    padding: 30px 20px;
    box-sizing: border-box; }
    .footer .right-part {
      float: none;
      width: 100%;
      border-left: none;
      padding-left: 0;
      margin-bottom: 20px; }

  .page_i {
    padding-bottom: 0; }

  .privacy-block {
    position: static;
    margin-top: 15px; }

  .footer-item-content {
    display: none; }

  .footer-item-wrap {
    width: 100%;
    margin-right: 0;
    float: none; }
    .footer-item-wrap.opened .footer-item-content {
      display: block; }

  .footer-item-title {
    border-top: 1px solid #444444;
    padding: 19px 0;
    margin-bottom: 0;
    position: relative;
    cursor: pointer; }
    .footer-item-title:last-child {
      border-bottom: 1px solid #444444; }
    .footer-item-title:after {
      content: '';
      position: absolute;
      background: url("../images/sprite.png") no-repeat scroll 0 -113px transparent;
      width: 10px;
      height: 6px;
      top: 50%;
      right: 0;
      margin: -2px 0 0 0; }

  .footer-search-block .footer-search-field {
    height: 40px; }
  .footer-search-block .footer-search-button {
    background-position: -15px -105px;
    width: 40px;
    height: 40px; } }
@media screen and (max-width: 767px) {
  .subslider {
    width: 100%; }

  .points-view-item {
    width: 100%;
    max-width: 100%; }
    .points-view-item .points-view-item_img {
      width: 100%; }

  .row-item-img.vertical, .subslider.vertical {
    width: 100%; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .component-select .chosen-single div b {
    background: url(../images/sprite.png) no-repeat scroll 0 0 transparent !important; } }

/*# sourceMappingURL=style.css.map */
